<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head :: head('My Decisions')}">
</head>

<body>

<header th:replace="~{fragments/navbar :: navbar('LEVEL_1_CHECKER')}">
</header>

<aside th:replace="~{fragments/sidebar :: sidebar('LEVEL_1_CHECKER', 'history')}">
</aside>

<main class="app-main">
    <section th:replace="~{fragments/approval-history :: history(${approvals}, 'LEVEL_1_CHECKER')}">
    </section>
</main>

<footer th:replace="~{fragments/layout :: footer}">
</footer>

<div th:replace="~{fragments/layout :: scripts}">
</div>

</body>
</html>