<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head('GM Request Review')}"></head>
<body>
<header th:replace="~{fragments/navbar :: navbar('GM')}"></header>
<aside th:replace="~{fragments/sidebar :: sidebar('GM','approval')}"></aside>
<main class="app-main">
    <section th:replace="~{fragments/request-review :: review(${request}, '/gm')}"></section>
</main>
<footer th:replace="~{fragments/layout :: footer}"></footer>
<div th:replace="~{fragments/layout :: scripts}"></div>
</body>
</html>
